absl-py==1.0.0
aiosignal==1.2.0
ale-py==0.7.5
astunparse==1.6.3
async-timeout==4.0.2
atari-py==0.2.9
attrs==21.4.0
AutoROM==0.4.2
AutoROM.accept-rom-license==0.4.2
black==22.3.0
cachetools==5.1.0
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.1.3
cloudpickle==1.6.0
cycler==0.11.0
Cython==0.29.30
Deprecated==1.2.13
distlib==0.3.4
filelock==3.7.0
flake8==4.0.1
flatbuffers==1.12
fonttools==4.33.3
frozenlist==1.3.0
future==0.18.2
gast==0.4.0
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.46.3
gym==0.21.0
gym-cartpole-swingup==0.1.4
gym-chess==0.1.1
gym-notices==0.0.6
h5py==3.7.0
idna==3.3
importlib-metadata==4.11.4
importlib-resources==5.7.1
jsonschema==4.5.1
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
libclang==14.0.1
Markdown==3.3.7
matplotlib==3.5.2
mccabe==0.7.0
msgpack==1.0.3
mypy-extensions==0.4.3
numpy==1.22.4
oauthlib==3.2.0
opencv-python==4.5.5.64
opt-einsum==3.3.0
packaging==21.3
pathspec==0.9.0
Pillow==8.2.0
pkg_resources==0.0.0
platformdirs==2.5.2
poetry-version==0.1.5
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pyflakes==2.4.0
pygame==2.1.2
pyglet==1.5.0
Pympler==1.0.1
pyparsing==3.0.9
pyrsistent==0.18.1
python-chess==0.31.4
python-dateutil==2.8.2
PyYAML==6.0
ray==1.12.1
redis==4.3.1
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scipy==1.8.1
six==1.16.0
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
tomli==2.0.1
tomlkit==0.5.11
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
tqdm==4.64.0
typing_extensions==4.2.0
urllib3==1.26.9
virtualenv==20.14.1
Werkzeug==2.1.2
wrapt==1.14.1
zipp==3.8.0
